---
const { title = "", description = "" } = Astro.props;
---

<div
  class="flex items-center gap-4 bg-black hover:bg-link bg-opacity-5 backdrop-blur-md hover:-mt-4 p-6 py-8 rounded-xl transition-all"
>
  <div class="w-[40px]">
    <slot />
  </div>
  <div class="flex flex-col">
    <span class="font-bold uppercase">{title}</span>
    <span class="text-sm">{description}</span>
  </div>
</div>
