:root {
  --accent: #163aa5;
  --accent-dark: #000d8a;
  --primary: #4169e1;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  color: #424242;
  font-size: 18px;
}

a {
  margin: 0;
  padding: 0;
}

section {
  padding: 4rem 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
  font-weight: bold;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid;
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow-x: none;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.btn {
  background: #000d8a;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  white-space: nowrap;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.hoverbox:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
}

.navbarShadow {
  box-shadow: -1px 11px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 11px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 11px 5px 0px rgba(0, 0, 0, 0.1);
}
.btn-outline {
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid #d4d4d4;
  text-transform: uppercase;
  transition: 0.2s;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.btn-outline:hover {
  background: var(--accent);
  color: white;
  border-color: var(--accent);
}

@media (min-width: 850px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 850px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.8em;
  }
  h4 {
    font-size: 0.5em;
  }
  h5 {
    font-size: 1.25em;
  }
}
.footer-list li {
  font-size: 13px;
}
.footer-list li h6 {
  font-size: 15px;
}
.badge {
  background: #dddddd;
  font-size: 13px;
  display: inline-flex;
  padding: 5px 10px;
  border: 1px solid #ebebeb;
  border-radius: 100px;
}

.mobile-menu-button {
  display: block;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  margin-top: 45px;
}

.mobile-menu.open {
  display: block;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  padding: 0;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 20px;
}

.mobile-menu ul li a:hover {
  background-color: #f0f0f0;
}

.mobile-menu ul li ul {
  margin-left: 20px; /* Indentación para submenús */
  border-left: 2px solid #ddd; /* Borde izquierdo para submenús */
}

.mobile-menu ul li ul li a {
  padding-left: 30px; /* Ajuste de padding para submenús */
}

.carreras-layout h1 {
  font-size: 25px;
  text-transform: uppercase;
  margin: 20px 0px;
}
.carreras-layout h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0px;
}
.carreras-layout ul li {
  list-style-type: circle;
  color: #2c3e50; /* Color del texto */
  font-size: 16px; /* Tamaño del texto */
  margin: 5px 0px;
  margin-left: 40px;
}

.carreras-layout ul li strong {
  color: var(--accent-dark);
}
