---
import Layout from "../layouts/layout.astro";
---

<Layout
  title="UNEFM | Universidad nacional experimental Francisco de miranda"
  description="Universidad nacional experimental Francisco de miranda"
>
  <section class="mx-auto pt-24 container">
    <div class="gap-14 grid grid-cols-1 xl:grid-cols-2 mb-24">
      <div
        class="block bg-[url(/rectorado.jpg)] bg-slate-400 bg-cover bg-center rounded-md w-[100%] h-[600px]"
      >
      </div>
      <div class="flex flex-col justify-center">
        <h4>MISIÓN</h4>
        <p>
          Corresponde a la Universidad Nacional Experimental Francisco de
          Miranda, como institución de educación universitaria de carácter
          Experimental, generar conocimientos, formar integralmente ciudadanos
          Conscientes, responsables y emprendedores, anticipar y aportar
          respuestas a las necesidades de la comunidad falconiana y del país en
          general, a través de programas académicos innovadores que articulen el
          conocimiento Científico, tecnológico, social y humanístico, para el
          fortalecimiento de la ciencia, la tecnología, la cultura, el medio
          ambiente y el fomento de valores morales, éticos, estéticos,
          espirituales y ciudadanos, contribuyendo al logro de una mejor calidad
          de vida y un desarrollo sustentable.
        </p>
        <h4>VISIÓN</h4>
        <p>
          Ser considerada la institución rectora de la Educación Universitaria
          en el Estado Falcón, integrada al Sistema Nacional de Educación y a
          redes académicas y de producción, comprometida y vinculada con la
          comunidad en el estudio y solución de sus problemas; reconocida
          nacional e internacionalmente por su excelencia académica, sustentada
          en la innovación, el ejercicio del pensamiento crítico, la capacidad
          para 7 Transformarse y transformar a la sociedad, la preservación y
          promoción de la Cultura y la formación de ciudadanos para el trabajo,
          la producción intelectual y el disfrute pleno de una existencia digna.
        </p>
      </div>
    </div>
  </section>
</Layout>
