---
import Icon from "../components/Icons";
import Layout from "../layouts/layout.astro";
---

<Layout
  title="UNEFM | Universidad nacional experimental Francisco de miranda"
  description="Universidad nacional experimental Francisco de miranda"
>
  <section class="mx-auto pt-24 container">
    <div class="text-center">
      <h1>CONTACTO</h1>
    </div>
    <div class="gap-12 grid grid-cols-1 md:grid-cols-2 mt-12">
      <div>
        <img
          src="/unefmMap.png"
          alt="Mapa Unefm"
          class="shadow-md rounded-md"
        />
      </div>
      <div class="flex flex-col justify-center xl:w-[400px]">
        <span class="uppercase">Dirección</span>
        <h4 class="mt-4 text-link">
          Calle Norte Entre Manaure y, C. Toledo, Coro 4101, Falcón
        </h4>
        <span class="my-4"
          ><b>Horario de trabajo:</b> lunes - jueves: 8 AM - 12 PM</span
        >
        <div class="mt-2">
          <ul>
            <li class="flex items-center gap-4 my-4">
              <Icon name="Mail" color="#4169E1" size={35} />
              <a href="" class="font-bold text-link text-xl"
                >correo@correo.com</a
              >
            </li>
            <li class="flex items-center gap-4">
              <Icon name="Phone" color="#4169E1" size={35} />
              <a href="" class="font-bold text-link text-xl">+58 333 333 3333</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>
