---
import Layout from "../layouts/layout.astro";
---

<Layout title="UNEFM | Sobre Nosotros" description="Sobre nosotros">
  <section class="mx-auto pt-24 container">
    <div class="gap-14 grid grid-cols-1 xl:grid-cols-2 mb-24">
      <div
        class="block bg-[url(/rectorado.jpg)] bg-slate-400 bg-cover bg-center rounded-md w-[100%] h-[600px]"
      >
      </div>
      <div class="flex flex-col justify-center">
        <h4 class="uppercase">Sobre nosotros</h4>
        <p class="mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quia
          maxime unde sunt libero sapiente corrupti, vel, tempore ducimus
          similique, nulla architecto fuga? Eligendi officia sunt corporis
          accusamus laboriosam distinctio! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Fugit quia maxime unde sunt libero
          sapiente corrupti, vel, tempore ducimus similique, nulla architecto
          fuga? Eligendi officia sunt corporis accusamus laboriosam distinctio!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quia
          maxime unde sunt libero sapiente corrupti, vel, tempore ducimus
          similique, nulla architecto fuga? Eligendi officia sunt corporis
          accusamus laboriosam distinctio!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          suscipit at sed magnam pariatur, necessitatibus aliquid corrupti
          ducimus laudantium, blanditiis numquam quia tenetur facilis quae magni
          veritatis voluptas voluptatum ipsum?
        </p>
      </div>
    </div>
  </section>
</Layout>
