---
import Layout from "../layouts/layout.astro";
---

<Layout title="UNEFM | Sobre Nosotros" description="Sobre nosotros">
  <div class="mx-auto pt-24 container">
    <div class="gap-14 grid grid-cols-1 xl:grid-cols-3 mb-24">
      <div
        class="block bg-[url(/nosotros.png)] bg-contain bg-no-repeat bg-center rounded-md w-[100%] h-[30vh] md:h-[600px]"
      >
      </div>
      <div class="flex flex-col justify-center col-span-2">
        <h2 class="mb-4 uppercase">Sobre nosotros</h2>
        <p class="mt-2">
          La Universidad Nacional Experimental Francisco de Miranda (UNEFM) es
          una institución de educación superior de carácter público ubicada en
          el estado Falcón, Venezuela. <b>Fue fundada en julio de 1977</b> con el
          propósito de contribuir al desarrollo educativo, científico y social de
          la región y del país. A lo largo de su trayectoria, la UNEFM se ha consolidado
          como <b
            >una de las universidades más prestigiosas y reconocidas de
            Venezuela</b
          >, destacándose por su compromiso con la excelencia académica, la
          investigación y la vinculación con las comunidades.
        </p>
        <p>
          En sus más de cuatro décadas de existencia, la universidad ha
          evolucionado y adaptado sus funciones y objetivos para responder a las
          demandas del contexto social, económico y cultural actual. Esto ha
          implicado una redefinición constante de sus programas académicos,
          metodologías de enseñanza y líneas de investigación, con el fin de
          <b>formar profesionales integrales</b>, críticos y comprometidos con
          el desarrollo sostenible. Además, la UNEFM ha fortalecido su papel
          como agente transformador en la región falconiana, promoviendo
          proyectos que fomentan la innovación, la inclusión y el bienestar
          colectivo.
        </p>
        <p>
          Hoy en día, la UNEFM no solo es un referente en el ámbito educativo
          venezolano, sino también un espacio dinámico que fomenta el
          pensamiento crítico, la creatividad y la responsabilidad social,
          manteniendo siempre su misión de servir a la sociedad y contribuir al
          progreso del país.
        </p>
      </div>
    </div>
  </div>
  <div class="mx-auto container">
    <div class="gap-14 grid grid-cols-1 xl:grid-cols-3 mb-24">
      <div class="flex flex-col justify-center col-span-2">
        <h2 class="mb-4 uppercase">Historia</h2>
        <p>
          El origen de la <b
            >Universidad Nacional Experimental Francisco de Miranda (UNEFM)</b
          > está estrechamente vinculado a un significativo <b
            >movimiento popular</b
          > que abogó por su creación. Esta iniciativa surgió ante la imperiosa necesidad
          de formar profesionales capaces de impulsar el desarrollo del estado Falcón,
          en respuesta a un fenómeno migratorio de la población joven que buscaba
          oportunidades de estudio fuera de la región. Fue así como, el <b
            >15 de julio de 1977</b
          >, mediante la promulgación del <b>Decreto Presidencial Nº 2.256</b>,
          publicado en la <b>Gaceta Oficial de la República de Venezuela</b> el 28
          de julio del mismo año, se oficializó la creación de la UNEFM, marcando
          un hito en la historia educativa de la región.
        </p>

        <p>
          Para poner en marcha la universidad, fue necesario diseñar un proyecto
          que definiera su <b>estructura, organización y funcionamiento</b>, así
          como realizar un estudio exhaustivo sobre el desarrollo de la
          educación universitaria en el estado Falcón. Este análisis destacó,
          entre otros aspectos, la prioridad de enfocarse en las <b
            >ciencias de la salud</b
          >, consideradas un área fundamental para los programas de desarrollo
          regional y de <b>vital importancia para el bienestar humano</b>.
        </p>

        <p>
          El estudio también reveló características críticas de la educación
          superior venezolana de la época, como la <b
            >concentración de estudiantes en carreras tradicionales</b
          > y la baja demanda en institutos tecnológicos y colegios universitarios.
          Este desequilibrio generaba una presión excesiva sobre las universidades,
          mientras que otras instituciones de educación superior enfrentaban una
          escasa demanda.
        </p>

        <p>
          Además, se hizo evidente el <b>déficit técnico</b> existente en el país,
          lo que resaltó la necesidad urgente de formar <b
            >técnicos y tecnólogos</b
          >, así como de diversificar la oferta académica para reducir la carga
          burocrática que recaía sobre los profesionales tradicionales.
        </p>

        <p>
          En este contexto, la UNEFM propuso una <b
            >estructura curricular innovadora</b
          >, dividida en tres niveles que ofrecían distintas posibilidades de
          formación profesional: al final del primer bienio, los estudiantes
          podían egresar como <b>técnicos medios</b>; tras un segundo bienio,
          como <b>técnicos superiores</b>; y, con un año o bienio adicional, se
          formaban como <b>profesionales de carreras largas</b>. Este enfoque
          permitió ofrecer una formación técnica y profesional integral, con
          opciones de carreras cortas y largas, adaptándose a las necesidades
          del desarrollo regional y nacional.
        </p>
      </div>
      <div>
        <img src="/nosotros2.png" alt="" />
      </div>
    </div>
  </div>
</Layout>
