---
import { SITE_TITLE, socialMedia } from "../consts";
import InstagramIcon from "../icons/InstagramIcon.astro";
import FacebookIcon from "../icons/FacebookIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import Nav from "./Nav.astro";
import MobileMenu from "./scripts/MobileMenu";
---

<header>
  <div class="bg-link clip-header p-1 w-full text-primary-foreground">
    <div
      class="flex justify-between md:grid md:grid-cols-2 mx-auto h-full container"
    >
      <div class="flex items-center gap-4">
        <span class="md:block hidden text-[10px] uppercase">
          Calle norte, entra Av. Manaure y calle Toledo
        </span>
        <span class="md:block hidden">|</span>
        <span class="text-[10px] uppercase">
          Lunes a jueves 8:00 AM - 12:00 PM
        </span>
      </div>
      <div class="text-right flex justify-end items-center gap-2 h-full">
        <a
          class="flex justify-center items-center bg-white rounded-full w-6 h-6"
          href={socialMedia.instagrma}
          target="_blank"
        >
          <InstagramIcon color="#163AA5" stroke="3" width="13" />
        </a>
        <a
          class="flex justify-center items-center bg-white rounded-full w-6 h-6"
          href={socialMedia.facebook}
          target="_blank"
        >
          <FacebookIcon color="#163AA5" stroke="1" width="12" />
        </a>
        <a
          class="flex justify-center items-center bg-white rounded-full w-6 h-6"
          href={socialMedia.x}
          target="_blank"
        >
          <TwitterIcon color="#163AA5" stroke="3" width="12" />
        </a>
      </div>
    </div>
  </div>
  <div class="top-0 z-50 sticky bg-white py-6 w-full navbarShadow">
    <div
      class="md:flex justify-between items-center grid grid-cols-2 mx-auto container"
    >
      <div class="logo">
        <a href="/">
          <img
            src="/logo.webp"
            class="md:w-[15rem] max-w-48 transition-all hover:scale-110"
            alt={SITE_TITLE}
          />
        </a>
      </div>
      <div class="flex items-center gap-4">
        <nav class="xl:flex gap-8 hidden">
          <Nav />
          <a href="/carreras">
            <button class="btn-outline">Ofertas académicas </button>
          </a>
        </nav>
        <nav class="flex justify-end xl:hidden w-full">
          <MobileMenu client:load />
        </nav>
      </div>
    </div>
  </div>
</header>
